.row
    each p in projects
        .col-md-6.col-sm-6.home-project-box(data-projectid=`${p.id}` id=`project-box-${p.id}`)
            .box-static.box-border-top.padding-30.margin-bottom-20.relative
                if p.prctSold > 1
                    .ribbon
                        .ribbon-inner= p.prctSold + "% vendu"
                .box-title.margin-bottom-30
                    h2.size-20!= "Projet <span>" + p.project_title + "</span><br>"
                        small= p.project_city + " - " + p.project_address
                if p.librarycategories
                    - genericImages = tools.getGenericImages(p.librarycategories)
                    if genericImages.length > 0
                        - url = "libraries/" + p.id + "/library/thumb_" + genericImages[0].library_media_name
                        a(href=`/project?id=${p.id}`)
                            img.img-responsive(src=`${ url }`)
                    else
                        a(href=`/project?id=${p.id}`)
                            img.img-responsive(src="images/no-media.jpg" href=`/project?id=${p.id}`)
                else
                    a(href=`/project?id=${p.id}`)
                        img.img-responsive(src="images/no-media.jpg" href=`/project?id=${p.id}`)
                a.margin-top-20(href=`/project?id=${p.id}` class="btn btn-reveal btn-default")
                    i.fa.fa-plus
                    span Voir la fiche projet