- var companyNavData = ws_settings.navData.company;
- var projectsNavData = ws_settings.navData.projects;

li.dropdown(class=`${ topNavActive && topNavActive === 'index' ? 'active' : ''}`)
	a.dropdown-toggle(href='/') Accueil
li.dropdown(class=`${ topNavActive && topNavActive === 'company' ? 'active' : ''}`)
	a.dropdown-toggle(href=`/${companyNavData[0].service}`) #{company.name}
	ul.dropdown-menu
		each cD in companyNavData
			li
				a(href=`${ cD['service'] }`)= cD.label
li.dropdown.mega-menu(class=`${ topNavActive && topNavActive === 'projects' ? 'active' : ''}`)
	a.dropdown-toggle(href='/projects') Les projets
	ul.dropdown-menu.padding-bottom-10
		li
			.row
				.col-md-5th
					ul.list-unstyled
						li
							a(href="/projects")
								span.label.label-info.pull-right= ws_settings.navData.totalProjects
								span Voir tous les projets
						li
							a(href="/realties") Voir tous les biens
				each pD in projectsNavData
					.col-md-5th
						ul.list-unstyled
							li
								span #{pD.project_title}
							li
								span
									if pD.librarycategories
										- genericImages = tools.getGenericImages(pD.librarycategories)
										if genericImages.length > 0
											- url = "libraries/" + pD.id + "/library/thumb_" + genericImages[0].library_media_name
											img.img-responsive(src=`${ url }`)
										else
											img.img-responsive(src="images/no-media.jpg")
									else
										img.img-responsive(src="images/no-media.jpg")
							li
								a(href=`/project?id=${ pD.id }`) Fiche du projet
							li
								a(href=`/project?id=${ pD.id }#biens`)
									span.label.pull-right.label-count(data-projectid=`${ pD.id }`)
									span Les biens du projet
li.dropdown.mega-menu
	a.dropdown-toggle(href='/') Book
li.dropdown
	a.dropdown-toggle(href='/contact') Support
	ul.dropdown-menu.pull-right
		li.dropdown
			a(href="/contact") Contact avant vente
		li.dropdown
			a(href="/sav") Service après vente
		li.dropdown
			a(href="/faq") Questoins fréquentes
li.dropdown(class=`${ topNavActive && topNavActive === 'invest' ? 'active' : ''}`)
	a.dropdown-toggle(href='/invest') Investir
li.dropdown
	a.dropdown-toggle(href='/login') Mon compte