extends layout

block content
    section
        .container
            .portfolio-gutter
                each p in projects
                    .col-md-3.col-sm-6.margin-bottom-20
                        .item-box
                            figure
                                span.item-hover
                                    span.overlay.dark-5
                                    span.inner
                                        a.ico-rounded(href=`/project?id=${ p.id }`)
                                            span.fa.fa-plus.size-20
                                .flexslider(data-arrownav="false" data-slideshowspeed="3000")
                                    ul.slides
                                        - genericImages = tools.getGenericImages(p.librarycategories)
                                        if genericImages.length > 0
                                            each pM in genericImages
                                                li
                                                    a(href=`/project?id=${ p.id }`)
                                                        img.img-responsive(src=`${ "libraries/" + p.id + "/library/" + pM.library_media_name }`)
                                        else
                                            li
                                                a(href=`/project?id=${ p.id }`)
                                                    img.img-responsive(src="images/no-media.jpg")
                            .item-box-desc
                                h3= p.project_title
                                ul.list-inline.categories.nomargin
                                    li
                                        = p.project_city
                                        br
                                        small= p.project_address