.row.mix-grid
    each r in realties
        - cssClasses = tools.getSortClass(r)
        - imgs = tools.getRealtyImages(r.librarycategories);
        .col-md-3.col-sm-3.col-xs-12.mix.realties-box(class= cssClasses)
            .box-inner
                if r.realty_status === 0
                    h3.text-left.bold.size-16.elipsis
                        a(href=`/realty?id=${r.id}`)= r.realty_title
                    a(href=`/realty?id=${r.id}`)
                        if imgs.length > 0
                            img(alt="image" src=`libraries/${ r.projectId }/realties/${ r.id }/library/thumb_${ imgs[0].library_media_name}` class="img-responsive margin-bottom-10 ")
                        else
                            img(alt="image" src=`images/no-media.jpg` class="img-responsive margin-bottom-10")
                else
                    h3.text-left.bold.size-16.elipsis
                        span(class="label label-danger pull-right") Vendu
                        = r.realty_title

                    if imgs.length > 0
                        img(alt="image" src=`libraries/${ r.projectId }/realties/${ r.id }/library/thumb_${ imgs[0].library_media_name}` class="img-responsive margin-bottom-10 ")
                    else
                        img(alt="image" src=`images/no-media.jpg` class="img-responsive margin-bottom-10")
                p.text-left.margin-bottom-0.bold
                    if r.realty_status === 0
                        span.label.label-info.pull-right= r.realty_surface + " m²"
                        = tools.getRelatyPrice(parseFloat(r.realty_net_price), parseFloat(r.realty_vat), ws_settings.coreConfig.priceWithVat) + " €"
                if r.realty_status === 0
                    a(href=`/realty?id=${r.id}`)
                        | Voir
                        span(data-delay="2000" class="word-rotator active" style="height: 21px;")
                            span(class="items" style="top: -21px;")
                                span &nbsp;maintenant
                                span &nbsp;plus
                        i.glyphicon.glyphicon-menu-right.size-12